
@media (max-width: 950px) {
    .left-side {
        width: 50%;
        height: 60%;
        padding: 20px;
      }

      .right-side .pairing-box {
        width: 25%;
        height: 61.1%;
        padding: 15px;
      }

      .buttons button {
        font-size: 0.75rem;
        padding: auto;
      }

      .green-button {
        border-radius: 30px;
        font-size: 0.75rem;
        padding: auto;
      }

      .generate-button {
        font-size: 0.75rem;
        padding: auto;
      }
}

@media (max-width: 450px) {

}